.logo {
  display: inline-flex;
  align-items: center;
  cursor: var(--interactions-cursor-pointer);
  transition: opacity var(--interactions-transitions-duration-fast)
    var(--interactions-transitions-easing-ease-out);
}

.logo:hover {
  opacity: var(--effects-opacity-hover);
}

.mark {
  display: block;
  width: auto;
}

.sizeSmall .mark {
  height: 24px;
}

.sizeMedium .mark {
  height: 32px;
}

.sizeLarge .mark {
  height: 44px;
}
